body{
  background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.8)), url(https://img.freepik.com/free-photo/notepad-cup-coffee-paper-reminders-blue-background_169016-38841.jpg?t=st=1740764044~exp=1740767644~hmac=ca880f99b1fba827e7cb54d4a436b91e212abb6f34fda51ea5e3c3c202da5dff&w=1800)no-repeat center center/cover;
  display: flex;
  background-position: left left;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  margin: 0;

}
.container{
  text-align: center;
}
.text-id{
  color: black;
  font-size: 30px;
  font-weight: 400;
  background-color:rgb(211, 204, 204);
  border-radius: 5px;
  border: none;
  padding-top:12px ;
  margin: 20px auto; 
  box-shadow: 3px 3px 16px rgba(0,0,0,0.5);
  width: 300px;
  height: 40px;
  position: relative;
  
}
.head{
  color: white;
}
.input-list{
  width: 200px;
  height: 40px;
  font-size: 18px;
  background-color: rgb(203, 199, 199);
  margin-right: 30px;
  border-radius: 5px;
  border: none;
  box-shadow: 3px 3px 16px rgba(0,0,0,0.5);
}
.edit{
  position: absolute;
  right: 0px;
  top: 0;
  z-index: 1000;
  font-size: 20px;
  margin-left: 20px;
  padding: 5px;
  margin: 10px 10px;
  border-radius: 5px;
  background-color: yellow;
  border: none;
  box-shadow: 3px 3px 16px rgba(0,0,0,0.5);
  cursor: pointer;
}
.delete{
  position: absolute;
  top:10px;
  left:210px;
  z-index: 1000;
  font-size: 20px;
  padding: 5px;
  background-color: rgb(221, 52, 52);
  border-radius: 5px;
  border: none;
  box-shadow: 3px 3px 18px rgba(0,0,0,0.5);
  cursor: pointer;
}
.add{
  font-size: 20px;
  padding: 5px;
  background-color: rgb(38, 202, 38);
  border-radius: 5px;
  border: none;
  box-shadow: 3px 3px 16px rgba(0,0,0,0.5);
  cursor: pointer;
}

